<!DOCTYPE html>
<html xmls:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Hello!</title>
</head>
<body>
  <h1 style="text-align:center; font-size:2.5em; color:black;">Welcome!</h1>
  <br>
  <p> Try the URL paths: <p>
  <div>
    <ul>
      <li>/cities/Miami
        <ul>
          <li>renders city.html with Miami as city</li>
          <li>Try entering your own city name. </li>
        </ul>
      </li>
      <li>/api/cities/Miami
        <ul>
          <li>returns an API response for the city named.</li>
        </ul>
      </li>
      <li>/city
        <ul>
          <li>renders city.html with TestCity</li>
        </ul>
      </li>
      <li>/404
        <ul>
          <li>renders a 404 error page.</li>
        </ul>
      </li>
    </ul>
  </div>
</body>
</html>